{% extends 'base.html' %}
{% load widget_tweaks %}

 {% block title %}Login{% endblock title %}
 
 {% block forms %}
 <div class="form-label-group">
    {% render_field form.username id="inputPassword" class="form-control" %}

    <label for="inputPassword">Enter username</label>
</div>

<div class="form-label-group">
    {% render_field form.password type="password" id="inputPassword" class="form-control" %}

    <label for="inputPassword">Enter password</label>
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
{% endblock forms %}
